NEXT_PUBLIC_APIKEY=XXXXXXXXXXXXXXXX
NEXT_PUBLIC_AUTHDOMAIN=xxxxxxxxxxxxxxx
NEXT_PUBLIC_DB=XXXXXXXXXXXXX
NEXT_PUBLIC_PID=XXXXXXXXXXXXXXX
NEXT_PUBLIC_SB=XXXXXXXXXXXXX
NEXT_PUBLIC_SID=XXXXXXXXXXXXXXX
NEXT_PUBLIC_APPID=1:XXXXXXXXX:web:XXXXXXXXXXXX
NEXT_PUBLIC_MID=XXXXXXXXXXX